@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /* colors */
  --color-primary: #8e7bef;
  --font-colors: #222222;
  --bg-section-color: #fcda68;
  --second-icon-colors: #423f40;
  --fonts-subsection-colors: #423f40;
  --bg-color: #ffffff;
  --bg-icon-color: #f9f5f2;
  --color-third: #ABABAB;

  /* mobile */
  --font-title-mobile: 50px;
  --font-weight-mobile: 600;
  --font-subtitle-mobile: 32px;
  --font-subtitle-weight-mobile: 600px;
  --font-subsection-mobile: 20px;
  --font-subsection-weight-mobile: normal;
  --font-body-mobile: 16px;
  --font-body-weight-mobile: normal;

  /* desktop */
  --font-title-desktop: 80px;
  --font-weight-desktop: 600;
  --font-subtitle-desktop: 40px;
  --font-subtitle-weight-desktop: 600;
  --font-subsection-desktop: 24px;
  --font-subsection-weight-desktop: normal;
  --font-body-desktop: 18px;
  --font-body-weight-desktop: normal;
}

html {
  font-family: Inter;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--font-colors);
  font-weight: var(--font-subtitle-desktop);
  display: block;
}

button {
  border: none;
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
  margin: 0px auto;
  padding: 0;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  max-width: 1200px;
}
section {
  scroll-snap-align: start;
}

main {
  padding-top: 50px;
  margin: 0 auto;
}

.navbar-class {
  position: fixed;
  top: 0;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links-nav-bar {
  position: absolute;
  top: 50px;
  right: -60%;
  transition: right 0.5s;
}
.links-nav-bar a {
  padding: 10px 20px;
  border: 1px solid;
}
.links-nav-bar a.active,
.links-nav-bar a:active,
.links-nav-bar a:focus,
.links-nav-bar a:hover,
.links-nav-bar a:target {
  color: var(--color-primary);
}
.nav-bar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: fit-content;
  cursor: pointer;
}

.home {
  display: flex;
  align-items: center;
}
.home-left {
  width: 50%;
}
.home-left > * {
  margin: 30px 0;
}

.home-left > *:not(:last-child) {
  margin-bottom: 20px;
}

.home-right {
  width: 50%;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.photo-right {
  max-width: 100%;
  max-height: 100%;
}

.photo-style {
  width: 100%; 
  height: auto; 
  display: block; 
}

.home-description-title {
  font-size: var(--font-title-mobile);
  font-weight: var(--font-weight-mobile);
}

.home-lorem {
  font-size: var(--font-subsection-mobile);
  font-weight: var(--font-body-weight-mobile);
}
.home-design-experience {
  font-size: var(--font-subsection-mobile);
}
.highlight {
  color: var(--color-primary);
}

.home-design-social-media {
  height: 35px;
  display: flex;
  gap: 15px;
}

.home-design-social-media img {
  background-color: var(--color-primary);
  border-radius: 50%;
  padding: 5px;
}

.home-design-photo img:last-child {
  display: none;
}

.home-btn-contact {
  background-color: var(--color-primary);
  color: var(--bg-color);
  padding: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  gap: 10px;
  font-weight: var(--font-weight-desktop);
  justify-content: center;
}

.home-btn-contact::before {
  content: "";
  background: url(../Ãconos/letter.png) no-repeat;
  height: 20px;
  background-size: contain;
  aspect-ratio: 1.5;
  display: block;
}

.container {
  padding: 60px;
  margin-left: 50px;
  margin-right: 50px;
}

#skill {
  background-color: var(--bg-section-color);
}

.skill {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.title-skill {
  font-size: var(--font-subtitle-mobile);
  width: 300px;
}
.skill-lorem {
  padding: 30px 0;
  font-size: var(--font-subsection-mobile);
}

.expertise-description-title {
  font-size: var(--font-subsection-mobile);
}

.expertise-skill-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.expertise-skill-list li {
  padding-top: 15px;
  display: grid;
  grid-template-columns: auto 1fr; 
  grid-template-rows: auto auto; 
  gap: 50px; 
  align-items: start; 
  border-bottom: 1px solid var(--second-icon-colors); 
  padding-bottom: 5px; 
}
.expertise-skill-list li:last-child {
  border-bottom: none;
}

.years_1,
.years_2,
.years_3 {
  grid-column: 1 / 2;
  grid-row: 1 / 3; 
  white-space: nowrap; 
}

.skill-name_1,
.skill-name_2,
.skill-name_3 {
  grid-column: 2 / 3;
  grid-row: 1 / 2; 
}

.company-name_1,
.company-name_2,
.company-name_3 {
  margin-top: -50px;
  grid-column: 2 / 3;
  grid-row: 2 / 3; 
}

.competence-container {
  display: flex;
  flex-direction: column;
}

.competence-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.competence-header {
  padding: 20px;
}

.competence-title {
  font-size: 24px;
}

.competence-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  max-width: 600px;
  padding: 20px;
}

.competence-list > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.competence-list > div img {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}

.competence-list > div span {
  font-size: 18px;
  text-align: center;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.competence-design {
  max-width: 250px;
  padding: 20px;
}

.portfolio-grid{
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.portfolio-group-title{
  color: var(--color-primary);
  font-weight: var(--font-weight-desktop);
}

.portfolio-projects-group{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.portfolio-photo{
  width: 90%; 
  content: block;
  }

.contact-grid{
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-photo{
  border: 35px solid;
  border-radius: 30px;
  border-color: var(--bg-icon-color);
}

.contact-group{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-example-title{
  padding-top: 7px;
  font-size: var(--font-body-desktop);
  font-weight: var(--font-weight-desktop);
}

.contact-data{
  padding-top: 7px;
  color: var(--color-third);
}




@media (min-width: 600px) {
  .navbar-class {
    position: static;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .links-nav-bar {
    background-color: var(--bg-color);
    position: static;
    display: flex;
    gap: 20px;
    font-size: var(--font-body-desktop);
    font-weight: var(--font-body-weight-desktop);
    border-style: none;
    border: none;
  }

  .links-nav-bar {
    padding: 5px 10px;
  }
  .links-nav-bar a {
    border: none;
    padding: 5px;
  }
  .links-nav-bar:hover {
    color: #8e7bef;
  }
  .nav-bar-btn {
    display: none;
  }

  
}
